extends layout

block content
  h1= title
  p This is the first coding project of the second year of Web Development Dual Professional Formation. This main goal of this project is understand the fundamentals of JavaScript. The development to reach the goals is create an app with Node.js and develop an aPI-REST afterwards with Express creating a connection with a DB, in this case, will be a no relational data base like Mongo-DB. I hope you'll enjoy it as much as I did. Thank you for your time. 
